/* styles/Transfer.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-image: url('/swap-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    height:fit-content;
    min-height: 100vh;
}

.main {
    text-align: center;
    margin-top: 1.25rem;
}

.mainHeading {
    margin-top: 4vh;
    font-size: 3rem;
    color: white;
    font-weight: 600;
    line-height: 0;
}

.subHeading {
    font-size: 2rem;
    color: white;
    /* Indigo Noir */
}

.description {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #666;
    align-items: center;
    text-align: center;
}