/* styles/Transfer.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/swap-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
}

.mainHeading {
    margin-top: 4vh;
    font-size: 3rem;
    color: white;
    font-weight: 600;
    line-height: 0;
}

.swapFormContainer {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}